.title-wrapper {
    display:flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    
    h1 {
        text-transform:uppercase;
        color: var(--text-accent-primary)
    }
}

.cards-wrapper {
    display: flex;
    gap: 2rem;
    margin-block: 1rem;
}