article {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--text-accent-primary);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle{
  color: var(--text-primary);
  font-size: 1.3rem;
  font-weight: 500;
}

.skills-grid {
  margin-top: 2rem;

  .cards-layout{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}